/* 
*********
RESET
*********
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

button {
    padding: 0;
    border: 0;
    background-color: rgba(0, 0, 0, 0);
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

#arrow {
    margin-right: 2px;
    font-size: 20px;
    font-weight: bolder;
}

/* 
*********
COLOR
*********
*/

:root {
    --bg-topbar: #255ee9;
    --font-color: white;
    --button-bg: white;
    --section-bg: #d3d3d3;
    --foot-bg: #23272a;
    --h4-color: #7289da;
}

/* 
*********
DEBUG
*********
*/

/* 
*********
COMMON
*********
*/
h1,
h2,
h3,
h4,
p,
li,
a {
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

section {
    padding: 50px 0;
}

a.nav {
    color: var(--font-color);
}

.container-menu {
    display: flex;
    justify-content: center;
}

.container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-link {
    padding: 7px 10px;
    background-color: var(--button-bg);
    border-radius: 20px;
    color: var(--foot-bg);
}

.button-link:hover {
    box-shadow: 5px 5px 20px black;
    color: var(--bg-topbar);
}

a:hover {
    color: var(--h4-color)
}

.black {
    background-color: var(--foot-bg);
    color: var(--font-color);
}

.container-one,
.container-two {
    display: flex;
    max-width: 1250px;
    margin: 0 auto;
    min-height: 450px;
    justify-content: space-evenly
}

.p-sezioni,
.box p {
    margin-top: 30px;
    margin-bottom: 10px;
    line-height: 25px;
}

ul h3,
h4 {
    font-size: 30px;
    color: var(--h4-color);
    margin-bottom: 10px;
}

h4 {
    font-size: 16px;
}

.green-box ul {
    padding-top: 50px;
}

.green-box li {
    margin: 10px 0px;
    color: var(--font-color);

}

/* 
*********
HEADER-Top
*********
*/

header {
    background-color: var(--bg-topbar);
    padding-top: 15px;

}

.header-top {
    max-width: 1250px;
    margin: 0 auto;
    margin-bottom: 15px;

}

.link {
    flex-grow: 2;
}

.container-menu li {
    margin-left: 30px;
}

/* 
**************
HEADER-BOTTOM
**************
*/
.header-bottom {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 55px 0;
}

.box {
    max-width: 950px;
    height: 415px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
}

header .box p {
    margin-top: 20px;
    color: var(--font-color);
    line-height: 25px;
    margin-bottom: 20px;
}


h1 {
    color: var(--font-color);
    font-size: 40px;
}

/* 
*********
MAIN
*********
*/

/* 
*********
SEZIONE 1
*********
*/

.riquadro,
.riquadro-tre,
.img-2,
.img-3 {
    width: 45%;
    background-image: url(../img/item1.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    height: 400px;
}


/* 
*********
SEZIONE 2
*********
*/

h2 {
    font-size: 35px;
}

.riquadro-due,
.riquadro-quattro {
    width: 30%;
    align-self: center;
}

.riquadro-quattro {
    justify-self: flex-end;
}

.sezione-2 {
    background-color: var(--section-bg);
}

.img-2 {
    background-image: url(../img/item2.svg);
}

/* 
*********
SEZIONE 3
*********
*/

.img-3 {
    background-image: url(../img/item3.svg);
}

/* 
*********
SEZIONE 4
*********
*/

.green-screen {
    max-width: 1250px;
    min-height: 930px;
    margin: auto;
}

h3 {
    font-size: 20px;
    margin: 50px auto;
}

a.blue {
    background-color: var(--h4-color);
    color: var(--font-color);

}

/* 
****************
SEZIONE FOOTER
****************
*/

footer {
    background-color: var(--foot-bg);
}

.container-footer {
    display: flex;
}

.box-footer {
    max-width: 1250px;
    margin: 0 auto;
}


.red-box {
    max-width: 30%;
    flex-grow: 1;
}

.lingua::after {
    content: "\02C5";
    margin-left: 5px;
}

.lingua,
.lingua::after {
    font-size: 15px;
    color: var(--font-color);
}

#lingua {
    width: 15px;
    margin-right: 5px;
}

i {
    font-size: 15px;
    color: var(--font-color);
    margin: 5px;
}

.green-box {
    display: flex;
    max-width: 70%;
    flex-grow: 1;
}

.col-green {
    flex-grow: 1;
}

/* 
****************
SEZIONE FOOTER 2
****************
*/

.contenitore-footer-due {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box-footer {
    padding: 30px;

}

.footer-due {
    max-width: 1250px;
    margin: 0px auto;
    padding: 15px 0;
    border-top: 2px solid var(--h4-color);
}