/* 
*********
RESET
*********
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

button {
    padding: 0;
    border: 0;
    background-color: rgba(0, 0, 0, 0);
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

#arrow {
    margin-right: 2px;
    font-size: 20px;
    font-weight: bolder;
}

/* 
*********
COLOR
*********
*/

:root {
    --headtop-color: var(--headtop-color) #255ee9;
}

/* 
*********
DEBUG
*********
*/

.header-top {
    max-width: 1250px;
}

footer.debug {
    background-color: #23272a;
}

.red-box.debug {
    min-height: 600px;
    background-color: #f08080;
    border: 2px dashed black;
}

.green-box.debug {
    background-color: #20b2aa;
}


.stile.debug {
    padding: 10px;
    background-color: #ffb6c1;
    border: 2px dashed black;
}

.footer-due.debug {
    background-color: #7fffd4;
}

/* 
*********
COMMON
*********
*/
h1,
h2,
h3,
p,
a {
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

section {
    padding: 50px 0;
}

a.nav {
    color: white;
}

.login,
.logo {
    flex-shrink: 1;
}

.container-menu {
    display: flex;
    justify-content: center;
}

.container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-link {
    padding: 7px 10px;
    background-color: white;
    border-radius: 20px;
    color: #23272a;
}

.black {
    background-color: #23272a;
    color: white;
}



.container-one,
.container-two {
    display: flex;
    max-width: 1250px;
    margin: 0 auto;
    min-height: 450px;
    justify-content: space-evenly
}

.p-sezioni,
.box p {
    margin-top: 30px;
    margin-bottom: 10px;
    line-height: 25px;
}

.container-two {
    /* flex-direction: row-reverse; */

}

/* 
*********
HEADER-Top
*********
*/

header {
    background-color: #255ee9;
    padding-top: 15px;

}

.header-top {
    max-width: 1250px;
    margin: 0 auto;
    margin-bottom: 15px;

}

.link {
    flex-grow: 2;
}

.container-menu li {
    margin-left: 30px;
}

/* 
**************
HEADER-BOTTOM
**************
*/
.header-bottom {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 55px 0;
}

.box {
    max-width: 950px;
    height: 415px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
}

header .box p {
    margin-top: 20px;
    color: white;
    line-height: 25px;
    margin-bottom: 20px;
}


h1 {
    color: white;
    font-size: 40px;
}

/* 
*********
MAIN
*********
*/

/* 
*********
SEZIONE 1
*********
*/

.riquadro,
.riquadro-tre,
.img-2,
.img-3 {
    width: 45%;
    background-image: url(../img/item1.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    height: 400px;
}


/* 
*********
SEZIONE 2
*********
*/
h2 {
    font-size: 35px;
}

.riquadro-due,
.riquadro-quattro {
    width: 30%;
    align-self: center;
}

.riquadro-quattro {
    justify-self: flex-end;
}

.sezione-2 {
    background-color: #d3d3d3;
}

.img-2 {
    background-image: url(../img/item2.svg);
}

/* 
*********
SEZIONE 3
*********
*/

.img-3 {
    background-image: url(../img/item3.svg);
}

/* 
*********
SEZIONE 4
*********
*/

.green-screen {
    max-width: 1250px;
    min-height: 930px;
    margin: auto;
}

h3 {
    font-size: 20px;
    margin: 50px auto;
}

a.blue {
    background-color: #7289da;
    color: white;
}

/* 
****************
SEZIONE FOOTER
****************
*/

.container-footer {
    display: flex;
}

.sezione-footer {
    border-bottom: 1px solid white;
    padding: 10px 0px 50px;
}

.box-footer {
    max-width: 1250px;
    margin: 0 auto;
}


.red-box {
    flex-grow: 1;
}

.green-box {
    display: flex;
    flex-grow: 2;
}

.col-green {
    border: 2px dashed white;
    flex-grow: 1;
}

/* 
****************
SEZIONE FOOTER 2
****************
*/

.contenitore-footer-due {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box-footer {
    padding: 30px;

}

.footer-due {
    max-width: 1250px;
    margin: 0px auto;
    padding: 15px 0;
}